html {
  margin: auto;
  padding: 0;
}
body {
  background: #fafafa;
  font-family: Anton, Roboto, sans-serif;
  color: #212121;
  text-align: center;
  width: auto;
  margin: auto;
  font-size: 2rem;
}
span {
  text-decoration: line-through;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  background: #e0e0e0;
}
div.box {
  text-align: center;
  box-sizing: border-box;
  color: #212121;
  font-size: 1.4rem;
  padding: 20px;
  width: inherit;
  border-bottom: 1px solid #000000;
}
#section-about {
  text-align: left;
  letter-spacing: 0.1rem;
}
#section-projects ul {
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  list-style: none;
  padding: 0;
}
#section-contact {
  text-align: center;
  letter-spacing: 0.1rem;
}
#section-contact p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#box-1 {
  margin-top: 50px;
  padding-top: 2px;
  text-align: center;
  height: auto;
  width: auto;
  color: #fafafa;
  background: #212121;
  border-bottom: 1px solid #ffffff;
}
#row-1>h1, #row-2>h1, #row-3>h1, #row-4>h1{
  letter-spacing: .05em;
}
#row-1 {
  text-align: center;
  height: auto;
  width: auto;
  border-bottom: 1px solid #212121;
  animation-duration: 3s;
  animation-name: slidein;
}
#row-2 {
  text-align: center;
  height: auto;
  width: auto;
  border-bottom: 1px solid #212121;
  animation-duration: 3s;
  animation-name: slidein;
}
#row-3 {
  text-align: center;
  height: auto;
  width: auto;
  border-bottom: 1px solid #212121;
  animation-duration: 3s;
  animation-name: slidein;
}
#row-4 {
  text-align: center;
  height: auto;
  width: auto;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 500px;
        width: 100%;
    }
    to {
        margin-top: 0px;
        width: 100%;
    }
}
